.scenery-page {
    & .scenery-intro {
        width: 100vw; /* temp.. or maybe not? */
        height: 600px; /* temp.. or maybe not? */

        /* background-image: linear-gradient(
            to left, transparent, var(--background)
        ), url("../../assets/images/img-wide.png"); */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 25px 100px;

        @media (width < 1000px) {
            padding: 25px 40px;
        }
    
        &::after {
            content: "";
            /* background-image: url("../../assets/images/default-transition.png"); */
            background-repeat: no-repeat;
            background-position: top left;
            background-size: cover;
            width: 100%;
            height: 200px;
            position: absolute;
            bottom: -1px;
            left: 0;
        }

        & .intro-heading {
            margin: 0;
            padding: 0;

            & .heading-line-1 {
                line-height: 0.5em;
            }

            & .heading-line-2 {
                font-size: 1.8em;
                font-weight: 800;
                line-height: 1em;
                margin-left: -3px;
            }
        }

        & .intro-description {
            margin-top: 24px;
            font-size: 20px;
            line-height: 26px;
            max-width: 600px;
        }
    }

    .scenery-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 150px 25px;

        & > *:not(:first-child) {
            margin-top: 60px;
        }
    }
}