.scenery-panel {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: min(1200px, 90vw);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: var(--box-shadow-down);

    &.inverted {
        flex-direction: row-reverse;
    
        &.vertical {
            flex-direction: column-reverse !important;
        }
    }

    &.vertical {
        height: auto;
        flex-direction: column !important;

        & .details-container,
        & .image-wrapper {
            width: 100%;
            height: 300px;
        }

        & .details-container {
            padding: 50px;
        }
    }

    & .image-wrapper {
        width: 50%;
        height: 100%;
        overflow: hidden;

        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    & .details-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 25px 75px;
        width: 50%;


        & .details-title, & .details-description {
            margin: 0;
            padding: 0;
        }

        & .details-title {
            font-size: 38px;
            font-weight: 800;
        }

        & .details-description {
            font-size: 16px;
        }

        .details-link {
            border-radius: 1000px;
            color: var(--text);
            text-decoration: none;
            font-weight: 500;
            margin: 40px 0 0;
            width: max-content;
        }
    }
}