.hamburger-menu-icon {
  width: 32px;
  height: 25px;
  position: relative;
  cursor: pointer;
}

.hamburger-menu-icon:hover hr {
  background-color: var(--primary);
}

.hamburger-menu-icon hr {
  border: none;
  background-color: var(--accent);
  height: 3px;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.hamburger-menu-icon hr:nth-child(2),
.hamburger-menu-icon hr:nth-child(3) {
  width: 60%;
  top: 11px;
  right: 0;
}

.hamburger-menu-icon hr:nth-child(3),
.hamburger-menu-icon.active hr:nth-child(1),
.hamburger-menu-icon.active hr:nth-child(4) {
  opacity: 0;
}

.hamburger-menu-icon hr:nth-child(4) {
  bottom: 0;
  top: 22px;
}

.hamburger-menu-icon.active hr:nth-child(2),
.hamburger-menu-icon.active hr:nth-child(3) {
  width: 100%;
}

.hamburger-menu-icon.active hr:nth-child(2) {
  transform: rotate(45deg);
}

.hamburger-menu-icon.active hr:nth-child(3) {
  opacity: 1;
  transform: rotate(-45deg);
}